<div class="container">

   
    
    <div class="row">
    <img src="./assets/images/burger.jpg">

        <div class="col-sm-6">
            <h2>Burgers to Devour!</h2>
            {{#each burgers}} {{#unless this.devoured}}
            <form id="update">
                <input id="updateDev" type="hidden" name="devoured" value= {{this.id}}>
                <button class="btn btn-danger" type="submit">Devour it!</button>
                {{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
            </form>
            <div class="well">
                {{this.id}}. {{this.burger_name}}
            </div>
            {{/unless}} {{/each}}
        </div>

        <div class="col-sm-6 dev" >
            <h2>Devoured!</h2>
            {{#each burgers}} {{#if this.devoured}}
                <button class="btn btn-danger delete-burger" data-id="{{this.id}}">DELETE!</button>
            
            <div class="well devoured">
                {{this.id}}. {{this.burger_name}}
                
            </div>
            {{/if}} {{/each}}
        </div>

    </div>

    <h2>Place your order.</h2>

    <form id="add" action="/burgers/add" method="POST">
        <textarea name="burger_name"></textarea>
        
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>

</div>







img {
	display: block;
	margin: 0 auto;
	max-width: 50%;
	height: auto;
}

/* .dev{
	display: block;
} */

html, body, .container {
	height: 100%;
}


/* html, body, .container {
	height: 100%;
}

body {
	background-color: #18afe6;
	color: #fff;
}



h1 {
	font-size: 40px;
}

h2 {
	font-size: 24px;
}

h1, h2 {
	text-align: center;
}

button {
	margin-top: 15px;
	margin-right: 15px;
}

#update {
	float: left;
}

#add {
	display: block;
	text-align: center;
	height: 10%;
}

#add>textarea {
	width: 60%;
	height: 100%;
	color: #e64f18;
	padding: 19px;
}

#add>button {
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
}

.well {
	float: left;
	width: 75%;
	color: #e64f18;
}

.devoured {
	width: 100%;
} */